body {
  color: #40514e;
  background-color: #edffea;
  margin: 0;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  margin: 50px auto 0;
}

h2 {
  Color: #216353;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 0.7rem;
}

h3 {
  Color: #216353;
  font-family: 'Raleway', sans-serif;
}

p {
  Color: #216353;
  font-family: 'Raleway', sans-serif;
  line-height: 2;
  margin: 0 auto;
  width: 650px;
}

hr {
  /*background-color: #edffea;*/
  border-color: #7a4d1d;
  border-style: dotted none none;
  border-width: 20px;
  height: 0;
  width: 20%;
}

.bottom-cloud {
  left: 30%;
  position: absolute;

}

.bottom-container {
  background-color: #75daad;
  /*padding: 20px;*/
}

.circular{
  border-radius: 100%;
}

.computer-image{
  float: right;
  height:auto;
  width: 40%;
  /*margin-left: 30px;*/
}

.contact-btn {
	box-shadow: 0 1px 0 0 #f0f7fa;
	background:linear-gradient(to bottom, #40c2a1 5%, #216353 100%);
	background-color:#40c2a1;
	border-radius:6px;
	border:1px solid #1d5446;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 -1px 0 #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #216353 5%, #40c2a1 100%);
	background-color:#216353;
}
.myButton:active {
	position:relative;
	top:1px;
}


.flugel {
  float: left;
  height:auto;
  margin-right: 30px;
  width: 40%;
}

.intro{
  width: 30%;
}

.me-span {
  text-decoration: underline;
}

.middle-container {
  /*background-color: #edffea;*/
  padding: 20px;
  margin: 7rem 0;
}

.profile-picture {
  height:auto;
  max-width: 10%;
}

.top-cloud {
  position: absolute;
  right: 30%;
}

.top-container {
  background-color: #216353;
  /*background-color: #75daad;*/
  padding: 20px;
  position: relative;
}

.top-paragraph {
  Color: #edffea;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.skills{
  margin: 100px auto 100px auto;
  width: 60%;
}

/*.skill-paragraph{

}*/

.skill-row{
  margin: 100px auto 100px;
  text-align: left;
  width: 60%;
}
